.flexible-content.layout-feature-row {

	.feature {
		margin-top: 1rem;
		padding: 0 5%;

		img {
			display: block;
			margin: 0 auto .5rem;
		}

		h3 {
			margin: 0;
		}
		p {
			margin: 0 auto .3rem auto;
		}
		p:first-of-type {
			margin-top: 0;
		}

		a.button {
			// @include center-inline-element-on-mobile;
			@include center-inline-element
		}
	}


	@include tablet-portrait-and-up {

		.feature {
			padding: 0 5px;
			max-width: 500px;
			margin: 1rem auto 2rem;
		}

	}
	@include tablet-landscape-and-up {

		display: flex;
		justify-content: space-around;
		margin-bottom: 3vw;

		.feature {
			flex: 1 1 0;
			max-width: 325px;
		}

	}
	@include desktop-and-up {

		.feature {
			padding: 0;
		}

	}

}
