header.site-header,
#content,
footer.site-footer {
	@include tablet-landscape-and-up {
		max-width: $site-max-width;
		margin: auto;
	}
}

header.site-header {
	text-align: center;
}

#content {
	background-color: $background-color-1;

	#primary {
		padding: 0 1vw;

		@include tablet-landscape-and-up {

			flex-grow: 1;
		}
	}

	@include tablet-landscape-and-up {
		display: flex;

		#secondary {
			padding: 2rem 0 1rem;
			width: 220px;
			min-width: 200px;


		}
	}
	@include desktop-and-up {
		#primary {
			padding: 40px;
		}
	}

}

footer.site-footer {
	background-color: $site-color-3;
	color: #fff;
	min-height: 10vw;

	@include tablet-landscape-and-up {

		display: flex;
		justify-content: space-between;

		.footer-column {
			min-width: 30%;
			width: 30%;
			padding: 2rem 1rem;
			// border: 1px solid;
		}

	}
	.widget-title {
		color: inherit;
		border-left: 4px solid #1E6CBE;
		line-height: 2;
		padding-left: 20px;
		padding: 1rem 0 1rem 1rem;
		font-size: 130%;
		border-bottom: 1px solid #444;
	}
	a {
		color: inherit;
		text-decoration: underline;
	}

}
